* {
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Verdana;
    color: #f5f5f5;
    background-color: #1D2B53;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 70px 60px auto 40px;
    grid-template-areas:
        "header header header"
        "menu menu menu"
        ". middle ."
        "footer footer footer";
    justify-items: stretch;
}

.header {
    grid-area: header;
    padding: 10px 45px;
    min-height: 5%;
    text-align: center;
    background-color: #7E2553;
}

.middle {
    grid-area: middle;
    overflow: auto;
    min-height: 90%;
}

.main {
    grid-area: middle;
    min-height: 100%;
    color: #1f1f1f;
    display: grid;
    grid-template-rows: auto min-content auto;
    grid-template-areas: 
    "."
    "main-content"
    ".";
    align-items: center;
}

.main-content {
    grid-area: main-content;
    font-size: 16px;
    font-family: 'Press Start 2P', system-ui;
    background-color: #26396e;
    min-height: 100%;
}

.border{
    border: #f5f5f5 solid 15px;
}

.contact-content {
    background-color: #7E2553;
    padding: 10px 10px;
    color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact {
    margin: 5px auto 25px auto;
}

.contact h2 {
    font-size: 36px;
    margin: 24px 0px;
}

.contact p {
    margin: 12px 0px;
}

.form-text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Press Start 2P', system-ui;
    color: #4d4d4d;
    border: #F94C10 solid 5px;
}

.form-textarea {
    font-family: 'Press Start 2P', system-ui;
    width: 100%;
    margin: 20px 0px;
    color: #4d4d4d;
    padding: 5px;
    border: #F94C10 solid 5px;
}

.form-topic {
    font-family: 'Press Start 2P', system-ui;
    width: 100%;
    padding: 10px;
    height: auto;
    margin: 5px 0px 20px 0px;
    color: #757575;
    border: #F94C10 solid 5px;
}

.form-input {
    background-color: #F94C10;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    width: 50%;
    margin: 0% 25%;
    border: #FF004D solid 5px;
    background: linear-gradient(to right, #FF004D 50%, #F94C10 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s;
}

.form-input:hover {
    background-position: left bottom;
}

.about-content {
    margin: 5px 5px;
    background-color: #d9d9d9;
}

.image {
    float: right;
    margin: 30px;
}

.link {
    font-size: 12px;
}

.paragraph {
    margin: 15px 5px 40px 5px;
    text-align: justify;
    text-justify: inter-word;
    min-height: 330px;
}

.menu {
    grid-area: menu;
    padding: 0% 10rem;
    background-color: #F94C10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.menu-container {
    background-color: #2f9b25;
}

.footer {
    grid-area: footer;
    background-color: #7E2553;
    text-align: center;
    padding: 10px;
}

.eightBitText {
    font-family: 'Press Start 2P', system-ui;
}

.menu a {
    margin: 4px 10px;
}

.button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    padding: 0.75rem 1.25rem;
    border: 5px solid #FF004D;
    color: #f5f5f5;
    background: #F94C10;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    text-align: center;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Press Start 2P', system-ui;
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: all 0.1s;
}

.button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FF004D;
    transition: all 1s;
    z-index: -1;
}

.button:hover:before {
    width: 100%;
}

.loading {
    color: #1f1f1f;
}

.snake-menu {
    margin: 200px 0px;
    min-width: 100px;
    min-height: 100px;
    padding: 50px;
    background-color: #7E2553;
    text-align: center;
    color: #f5f5f5;
    font-size: 48px;
    font-family: 'Press Start 2P', system-ui;
}

.game-over {
    padding: 50px;
    background-color: #bc1010;
    text-align: center;
    color: #f5f5f5;
    font-family: 'Press Start 2P', system-ui;
}

.game-over-text {
    margin: 10px 0px;
}

.game-over-score {
    max-height: 20px;
}

.game-over-text p {
    margin: 50px 0px 100px 0px;
}

.game-over-button {
    background-color: #F94C10;
    min-width: 300px;
    min-height: 50px;
    margin: 0px 25%;
    padding: 10px;
    border-color: #FF004D;
    border-style: solid;
    border-width: 10px;
    background: linear-gradient(to right, #FF004D 50%, #F94C10 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s;
}

.game-over-button:hover {
    background-position: left bottom;
}

.game-canvas {
    background-color: #243564;
    min-width: 256px;
}

@media only screen and (max-width: 1280px) {
    .menu {
        padding: 0% 5rem;
    }

    .game-over-button {
        margin: 0px 10%;
    }

    .game-over-text {
        margin: 5px 0px;
    }

    .game-over-score {
        max-height: none;
    }

    .game-over-text p {
        margin: 20px 0px 40px 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .menu {
        padding: 0% 0%;
    }

    .game-over-button {
        margin: 0px 10%;
    }

    .game-over-text {
        margin: 5px 0px;
    }

    .game-over-score {
        max-height: none;
    }

    .game-over-text p {
        margin: 20px 0px 40px 0px;
    }

    .contact-content {
        display: block;
        width: 100%;
    }

    .image {
        float: none;
        margin: auto 50px auto 0px;
    }
}

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    * {
        margin: 0px;
        padding: 0px;
    }
    .menu,
    .main,
    .button {
        width: 100%;
    }

    .menu a {
        display: block;
    }

    .menu {
        background-color: #F94C10;
        display: block;
    }

    .game-over-button {
        margin: 0px;
    }

    .game-over-text p {
        margin: 20px 0px 35px 0px;
    }

}

@media only screen and (max-width: 480px) {

    .game-over-button {
        min-width: 100px;
    }

}